.node {
  margin-left: 1rem;
  border-left: 1px solid #ccc;
  padding-left: 0.5rem;

  .node-label {
    cursor: pointer;
    margin: 0.25rem 0;
    font-family: monospace;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  .type-icon {
    font-weight: bold;
    width: 1.5rem;
    display: inline-block;
    color: #444;
  }

  .toggle-icon {
    width: 1rem;
    display: inline-block;
  }

  .children {
    margin-left: 1rem;
  }
}
